.body{
    background-color: rgb(247, 247, 247);
}
.py-5{
    background-color: rgb(247, 247, 247);
}
app-result-research {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire /
    align-items: center; / Alignement vertical au centre des éléments */
}