
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

  </head>
<app-header></app-header>

  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="fw-light">Half Page Image Slider</h1>
      <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images
        in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
    </div>
  </section>
  
<app-footer></app-footer>
<router-outlet />
